<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usuarios registrados</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="d-flex justify-content-between">
      <a href="/register" class="btn btn-primary m-2">Registrarse</a>
      <a href="/logout" class="btn btn-danger m-2">Salir</a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i < usuarios.length; i++){ %>
        <tr>
          <td><%= usuarios[i].name %></td>
          <td><%= usuarios[i].email %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
